body{
    background-color: #D9D9D9;
}
.container {
    width:1440px;
    height: 7000px;
    position: relative;
    display:flex;
    flex-direction: column;
    
}
.wrap {
    width: 1440px;
    height: 100px;
    margin-top:53px;
    margin-left: 45px;
    
}

.wrap-flex {
    display: flex;
    justify-content: space-between;
   
}

.logo {
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 116.3%;
    /* or 56px */
    
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.2em;
    text-transform: capitalize;
    
    color: #000000;
   
}

a {
    text-decoration: none;
}

.group {
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 116.3%;
    /* or 19px */
    
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    
    color: #423939;
    margin-left: 161px;
    margin-top:5px
    
}
p {
    margin:0px;
}


.callme {
    width: 270px;
    height: 32px;
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 116.3%;
    /* or 28px */

    display: flex;
    align-items: flex-end;
    letter-spacing: 0.2em;
    text-transform: capitalize;
    margin-top:21px;
    
    color: #000000;
}

.phone {
    color: #000000;
}

.Topmenu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    margin-right: 47px;
    margin-top:22px;
    justify-content: space-between;
 

}

.Prj {
    width: 128px;
    height: 16px;

    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 116.3%;
    /* or 19px */

    display: flex;
    align-items: flex-end;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #423939;
    margin-top: 12px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.place {
    width: 174px;
    height: 16px;

    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 116.3%;
    /* or 19px */

    display: flex;
    align-items: flex-end;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
    margin-top: 12px;
    color: #423939;
 


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
.call {
    width: 128px;
    height: 16px;
    margin-top: 12px;
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 116.3%;
    /* or 19px */

    display: flex;
    align-items: flex-end;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #423939;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.micromenu {
    display: flex;
    align-items: flex-end;
    width: 52px;
    height: 41px;
    flex: none;
    order: 3;
    flex-grow: 0;
    
}

.g1 {
    width: 38px;
    height: 0px;

    border: 2px solid #000000;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin-bottom: 11px;
}
.g2 {
    width: 38px;
    height: 0px;
    
    border: 2px solid #000000;
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-bottom: 11px;
}

.g3 {
    width: 26px;
    height: 0px;
    
    border: 2px solid #000000;
    
    /* Inside auto layout */
    
    flex: none;
    order: 2;
    flex-grow: 0;
    margin-bottom: 11px;
}

.paint-first {
    display:inline-flex;
    width: 1440px;
    height: 960px;
}

h1 {
    position: absolute;
    width: 393px;
    height: 19px;
    margin-top: 169px;
    margin-left: 522px;
    
    font-family: 'Lack';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 116.3%;
    /* identical to box height, or 19px */
    
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
   
    
    color: #D6A398;
}

.geo {
    position: absolute;
    width: 1066px;
    height: 79px;
    margin-top: 206px;
    margin-left: 189px;

    font-family: 'Ledger';
    font-style: normal;
    font-weight: 400;
    font-size: 68px;
    line-height: 116.3%;
    /* identical to box height, or 79px */

    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 0.36em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #FFE6D9;
}
.apart{
    position: absolute;
    width: 677px;
    height: 73px;
    margin-top:801px;
    margin-left: 665px; 

    font-family: 'Roboto Mono', monospace';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 116.3%;
    /* or 23px */

    display: flex;
    align-items: flex-end;
    text-align:center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #FFFFFF;
}
.after-first{
    display:inline-flex;
    width: 1440px;
    height: 960px;
    background: #D7CDC8;
    
}

.after-first-text {

width: 948px;
height: 96px;
margin-top: 400px;
margin-left: 246px;

font-family:'Roboto Mono', monospace'';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 152.3%;
/* or 24px */

display: flex;
align-items: flex-end;
text-align: center;
letter-spacing: 0.22em;
text-transform: uppercase;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #000000;
}

.third {
    display:inline-flex;

}

.thrint {
    margin-left: 100px;
    margin-top:212px;
    margin-bottom: 0px;
    width: 522px;
    height: 30px;


    font-family: 'Roboto Mono', monospace';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 125.3%;
    /* identical to box height, or 30px */

    display: flex;
    align-items: flex-end;
    text-align: justify;
    letter-spacing: 0.36em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #000000;
}
p {
    margin 0px;
}

.third-backgroundcolor {
    display:flex;
    flex-direction: column;
    background: white;
}

.IntText {
    margin-top: 53px;
    margin-left:100px;
    margin-right: 33px;
    font-family: 'Roboto Mono', monospace';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 125.3%;
    /* or 30px */

    display: flex;
    align-items: flex-end;
    text-align: justify;
    letter-spacing: 0.36em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #000000;

}
.fourth {
    display:inline-flex;
    
}
.five {
    display:flex;
}
.five-background {
    display:flex;
    flex-direction: column;
    background: white;
    order:1;
    height: 618px;
}

.fiveint {
    margin-top: 112px;
    margin-left:60px;
    margin-right: 112px;
    margin-bottom: 0px;
    width: 587px;
    height: 60px;
    left: 741px;
    top: 3660px;

    font-family: 'Roboto Mono', monospace';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 125.3%;
    /* or 30px */

    display: flex;
    align-items: flex-end;
    text-align: justify;
    letter-spacing: 0.36em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
    order:0;
}

.rezi {
    margin-top: 44px;
    margin-left: 60px;
    margin-right: 112px;
    width: 587px;
    height: 214px;


    font-family: 'Roboto Mono', monospace';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 125.3%;
    /* or 30px */


    align-items: flex-end;
    text-align: justify;
    letter-spacing: 0.36em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #000000;
    order:1;
    }

    .six {
    position: relative;
    width: 1440px;
    height: 834px;
    left: 0px;
    top:-219px;
    z-index: 0;
    display:flex;
    flex-direction: column;
    

    background: #423939;
    }

    .Topap {
        z-index: 1;
    }
    
    .safety {
    margin:0px;
    position: relative;
    width:100 px;
    height: 57px;
    top:142px;
    justify-content: end;
    padding-right:90px;

    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 49px;
    line-height: 116.3%;
    /* identical to box height, or 57px */

    display: flex;
    align-items: flex-end;
    letter-spacing: 0.3em;
    text-transform: uppercase;

    color: #7A916F;

    }

.fort {
    position: relative;
    width: 1125px;
    height: 30px;
    margin: 0px;
    top:350px;
    left:157px;
    

    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 125.3%;
    /* identical to box height, or 30px */

    display: flex;
    align-items: flex-end;
    text-align: justify;
    letter-spacing: 0.36em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #EED1CA;

}

.UNTOCH {
    position: relative;
    width: 1125px;
    height: 200px;
    left: 157px;
    top:350px;
    margin-top: 54px;
    

    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 125.3%;
    /* or 30px */

    display: flex;
    align-items: flex-end;
    text-align: justify;
    letter-spacing: 0.36em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #EED1CA;
}

.seven {
    position: relative;
    top:-219px;
}

footer{
    height: 233px;
    display:flex;
}

.map {
position: relative;
width: 907px;
height: 42px;
left: 33px;
margin-bottom: 33px;
margin-top: 94px;
margin-right: 114px;

font-family: 'Roboto Mono', monospace;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 116.3%;
/* or 19px */

display: flex;
align-items: flex-end;
text-align: center;
letter-spacing: 0.3em;
text-transform: uppercase;

color: #000000;

}

.lowbutton {
    margin-top: 94px;
    position: relative;
    width: 342px;
    height: 63px;

}

.rectangle {
    box-sizing: border-box;

position: absolute;
width: 342px;
height: 63px;



border: 1px solid #000000;
border-radius: 47px;
z-index: 2;
}

.comeback {
   
width: 272.62px;
height: 25.73px;
margin-top: 15.08px;
margin-left: 34.2px;
font-family: 'Roboto Mono', monospace;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 116.3%;
/* or 19px */

display: flex;
align-items: flex-end;
letter-spacing: 0.3em;
text-transform: uppercase;

color: #000000;
z-index: 1;

}